<%layout('layouts/boilerplate')%>
<h1 class="text-center">Choose your role.</h1>
<div class="row d-flex justify-content-center">
    <a class="col-12 col-md-6 bg-primary text-white text-center p-3 rounded-lg text-decoration-none" href="#">
    Admin
    </a>
    <a class="col-12 col-md-6 bg-secondary text-white text-center p-3 rounded-lg text-decoration-none" href="/">
      User
    </a>
  </div>